.select {
    border: 1px solid black;
    display: inline-block;
}

.items {

    position: absolute;
    border: 1px solid rebeccapurple;
}

.item.selected {
    background-color: blue;
    color: white;
}

